# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
.Rproj.user
SWE_adm0.RData
flights.RData
flights_all.csv
data_compilation_gps_locations_20160314.RData
data_compilation_gps_locations_20160315.RData
points_all.RData
points_all.csv
points.detailed.RData
points_detailed.csv
flight_plots.pdf
# Ignore pdf files
*.pdf
flights.detailed.incl.RData
flights_detailed_included.csv
points.detailed.incl.RData
points_detailed_included.csv
MSVs_QCN_quality.png
# Ignore image files
*.png
*.wmf
flight_details.RData
flight_details.csv
gps_plot_test_illustration_g37478.svg
*.svg
gull_va_model_fit_table.csv
murre_va_model_fit_table.csv
packages_20160428.RData
altitude_analysis.R
#Ignore csv files
*.csv
acc.dat.df.RData
acc.rec.df.Rdata
